#cal-heatmapzzzz .graph-rect {
    fill: #222222;
    rx: 6px;
    shape-rendering: geometricPrecision;
 }

 #cal-heatmapzzzz .subdomain-text{
    fill: lightgray;
    font-size: 15px;
    font-family: monospace;
    font-weight: bold;
 }

#cal-heatmapzzzz .ch-tooltip{
    margin-top: 70px;
}

#cal-heatmapzzzz .graph-label {
    font-size: 20px;
}

 #cal-heatmapzzzz  .cal-heatmap-container  .q10{fill: #dae289}
 #cal-heatmapzzzz .cal-heatmap-container .q9{fill: #bbd179}
 #cal-heatmapzzzz .cal-heatmap-container .q8{fill: #9cc069}
 #cal-heatmapzzzz  .cal-heatmap-container .q7{fill: #8ab45d}
 #cal-heatmapzzzz  .cal-heatmap-container .q6{fill: #78a851}
 #cal-heatmapzzzz .cal-heatmap-container .q5{fill: #669d45}
 #cal-heatmapzzzz  .cal-heatmap-container .q4{fill: #648b3f}
 #cal-heatmapzzzz  .cal-heatmap-container .q3{fill: #637939}
 #cal-heatmapzzzz .cal-heatmap-container .q2{fill: #4f6e30}
 #cal-heatmapzzzz  .cal-heatmap-container .q1{fill: #3b6427}

 .rh-col20{color: #dae289}
 .rh-col19{color: #bbd179}
 .rh-col18{color: #9cc069}
 .rh-col17{color: #8ab45d}
 .rh-col16{color: #78a851}
 .rh-col15{color: #669d45}
 .rh-col14{color: #648b3f}
 .rh-col13{color: #637939}
 .rh-col12{color: #4f6e30}
 .rh-col11{color: #3b6427}